body {
  min-height: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: auto;
}


.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

 #buttons{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
 
}
#buttons #boton {
 outline: none;
 cursor: pointer;
 border: none;
 overflow: hidden;
 width: 170.75px;
 padding: 0.4rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 letter-spacing: 0.06rem;
 font-weight: 700;
 font-size: 17px;
 background: white;
 color: ghostwhite;
 opacity: 0.99;
}

#buttons #boton span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

#buttons #boton:hover span {
 color: black;
}

#buttons #boton::before, a#buttons #boton::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

#buttons #boton::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

#buttons #boton:hover::before {
 transform: translate3d(100%, 0, 0);
}

@media only screen and (max-width: 800px) {
  #buttons{
    display:flex;
    flex-flow: row wrap;
    width: 97%;
    height: auto;
    justify-content: space-between;
    
    
  }
  #buttons #boton {
    display: inline-block;
    justify-content: stretch;
    align-items: center;
    outline: none;
    cursor: pointer;
    border: none;
    width: 33%;
    height: auto;
    padding: 0.5rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 15px;
    overflow: hidden;
    background: white;
    color: ghostwhite;
    opacity: 0.99;

   }
   #buttons #boton span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   #buttons #boton:hover span {
    color: black;
   }
   
   #buttons #boton::before,
   #buttons #boton::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   #buttons #boton::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   #buttons #boton:hover::before {
    transform: translate3d(100%, 0, 0);
   }
}


.contenedor__Tarjetas{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
  height: auto;
  

& .tarjetas{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  justify-content: space-around;
  
  
}

& .card{
  display: inline-block;
  position: relative;
  width: 260px;
  height: 360px;
  top: 20px;
  padding: 10px;
  border: 5px double black;

  & .imagen{
    width: 250px;
    height: 310px;
  }

  & .botonTarjeta{
    display: block;
    position: absolute;
    
  }

}
@media only screen and (max-width: 800px) {
  .contenedor__Tarjetas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    height: 200vh;
    
  
  & .tarjetas{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    
    
  }
  
  & .card{
    display: inline-block;
    position: relative;
    width: 310px;
    height: 400px;
    top: 20px;
    padding: 10px;
    border: 5px double black;
  
    & .imagen{
      width: 300px;
      height: 360px;
    }
  
    & .botonTarjeta{
      display: block;
      position: absolute;
      justify-content: center;
      
    }

}
  }
}
}

/*& .contenedor__Aside{
  display: flex;
  flex-direction: column;
  justify-items: start;
  width: 20%;
  height: 100%;
  background-color: blue;

}


& .aside{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: auto;
  background-color:green;
  
  

}*/
