article{
  display:flex;
  flex-direction: row;
}
article button {
 outline: none;
 cursor: pointer;
 border: none;
 width: 200px;
 padding: 0.9rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 justify-content: space-evenly;
 overflow: hidden;
 background: white;
 color: ghostwhite;
 opacity: 0.99;
}

article button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

article button:hover span {
 color: black;
}

article button::before,
article button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

article button::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

article button:hover::before {
 transform: translate3d(100%, 0, 0);
}

@media only screen and (max-width: 800px) {
  article{
    display:flex;
    flex-flow: row wrap;
    width: 97%;
    height: auto;
    justify-content: space-between;
    border: 1px solid black;
    
  }
  article button {
    display: inline-block;
    justify-content: stretch;
    align-items: center;
    outline: none;
    cursor: pointer;
    border: none;
    width: 33%;
    height: auto;
    padding: 0.5rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 15px;
    overflow: hidden;
    background: white;
    color: ghostwhite;
    opacity: 0.99;

   }
   article button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   article button:hover span {
    color: black;
   }
   
   article button::before,
   article button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   article button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   article button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
}

   
.conte_parent{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    
  

  .conte{
      height: 390px;
      width: 290px;
      box-shadow:0 0 7px #111 ;
      margin: 30px 30px;
  
    & .card{
      height: 200px;
      width: 100%;
      margin-bottom: 80px;
  }
    & .card img{
      margin: auto;
      display: block;
  }
    & .cesto-Mimbre img{
      height: 320px;
      width: 300px;
  }
    & .cesto-Mimbre{
       background-color: #111;
  }
    & .bolso-Rustico{
      background-color: #111;
  }
    & .atrapasuenios{
      background-color:#111;
  }
    & .cuadro{
      background-color:#111;
}
    & .pulseraMacrame{
       background-color:#111;
}
    & .centrodeMesa{
      background-color:#111;
}
    & .cuadroNaturaleza{
       background-color:#111;
}
    & .bolso-Rustico img{
    height: 290px;
    width: 285px;
}
    & .atrapasuenios img{
    height: 290px;
    width: 285px;
}

    & .pulseraMacrame img{
    height: 240px;
    width: 290px;
}
    & .centrodeMesa img{
    height: 250px;
    width: 291px;
}
    & .cuadroNaturaleza img{
    height: 295px;
    width: 290px;
}
  .conte .cuadro{
    background-color: #111;
}
    & .cuadro img{
    height: 275px;
    width: 250px;
}
    & .informacion{
      height: 30px;
      width: 100%;
}
    & .informacion h1{
      font-family: sans-serif;
      font-size: 1.2em;
      text-align: center;
      color: #333;
      margin-bottom: 23px;
}
    & .informacion p{
      text-align: center;
      font-family: sans-serif;
      font-size: .9em;
      color: #555;
}
    & .precio {
      height:30px;
      width: 85%;
      margin: auto;
      font-family: sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
    & .box-precio{
      width: 50px;
}
    & .precio1{
      color: red;
      font-size: .8em;
}
    &  .precio2{
      font-size: 1em;
}
    & .shoping{
      font-size: 1.5em;
      color: #555;
}
 

  & .contenedor__Compra{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 10px;
    padding-right: 25px;
    
    & .compra{
      display: flex;
      width: 30px;
      height: auto;
      padding: 2px;
      align-items: center;
      
      justify-content: space-around;
    }
  }
}
}
