.tarjetas-Container{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    



.tarjeta-Producto{
    display: flex;
    flex-flow: row wrap;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 20px 20px 20px 20px;
    background: darkgrey;
    text-align: center;
    justify-content: center;

}
}

.conte_parent{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    
  }
  .conte{
      height: 390px;
      width: 290px;
      box-shadow:0 0 7px #111 ;
      margin: 30px 30px;
  }
  .conte .card{
      height: 200px;
      width: 100%;
      margin-bottom: 80px;
  }
  .card img{
      margin: auto;
      display: block;
  }
  .conte .cesto-Mimbre img{
      height: 320px;
      width: 300px;
  }
  .conte .cesto-Mimbre{
       background-color: #111;
  }
  .conte .bolso-Rustico{
      background-color: #111;
  }
  .conte .atrapasuenios{
      background-color:#111;
  }
  .conte .bolso-Rustico img{
    height: 290px;
    width: 285px;
  }
  .conte .atrapasuenios img{
    height: 290px;
    width: 285px;
  }
  .conte .cuadro{
    background-color: #111;
}
  .conte .cuadro img{
    height: 275px;
    width: 250px;
  }
  .informacion{
      height: 30px;
      width: 100%;
  }
  .informacion h1{
      font-family: sans-serif;
      font-size: 1.2em;
      text-align: center;
      color: #333;
      margin-bottom: 23px;
  }
  .informacion p{
      text-align: center;
      font-family: sans-serif;
      font-size: .9em;
      color: #555;
  }
  .precio {
      height:30px;
      width: 85%;
      margin: auto;
      font-family: sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .box-precio{
      width: 50px;
  }
   .precio1{
      color: red;
      font-size: .8em;
  }
  .precio .precio2{
      font-size: 1em;
  }
  .shoping{
      font-size: 1.5em;
      color: #555;
  }
