body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: black;
    font-family: 'Gilda Display';
    text-decoration: none;
    
    
}

// NAVBAR Y FOOTER TIENEN LAS MISMAS PROPIEDADES QUE EL INDEX. SE REALIZO UN IMPORT EN LA HOJA SCSS 
.sobrenosotros-Container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    & .img__SobreNosotros{
        display: inline-block;
        position: relative; 
        width: 100%;
        height:100%;
        opacity:0.5;
        filter:alpha(opacity=20);
    }
    p{
        position: absolute;
        top: 30%;
        padding: 30px;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 70px;
    }


}

@media only screen and (max-width: 800px) {
    .sobrenosotros-Container{
        width: 100vw;
        height: 401vh;
        
    
        & .img__SobreNosotros{
            width: 100vw;
            height: 400.9vh;
            top: 2px;
            opacity:0.5;
            filter:alpha(opacity=20);
        
        & .parrafo__SobreNosotros{
           font-size: 2rem;
           font-weight: 900;
           color: yellow;
        }
    }
}
}
    
    